@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 微軟正黑體;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 100px auto;
      grid-template-columns: auto 100px auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: #994d33;
  font-size: 20px;
}

nav ul li:hover {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

nav img {
  width: 90px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav img:hover {
  -webkit-transform: scaleX(-1, 1) scaleY(1, 1);
          transform: scaleX(-1, 1) scaleY(1, 1);
}

#banner {
  height: 100vh;
  background-size: cover;
  background-image: url("../img/banner.jpg");
  margin-top: -100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner div {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#banner div h1 {
  font-size: 72px;
  color: white;
}

.copywriting {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 20px 0 0 0;
}

.copywriting * {
  color: #333;
}

.copywriting .pict {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pict;
}

.copywriting .text-area p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text-area;
  padding: 20px 0 0 0;
  line-height: 1.8;
  margin-bottom: 30px;
}

.copywriting .text-area a {
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid;
  padding: 10px 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.copywriting .text-area a:hover {
  background-color: #b36d0c;
  color: white;
}

#content-1, #content-3 {
      grid-template-areas: 'pict text-area';
}

#content-2 {
      grid-template-areas: 'text-area pict';
}

#icon {
  background-color: #F8F9FA;
}

#icon div {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 20px;
}

#icon div div {
  display: block;
  text-align: center;
}

#icon div img {
  display: block;
  width: 72px;
  padding: 20px 20px 0;
}

#icon div span {
  display: block;
  padding: 10px 0;
  font-size: 15px;
}

#icon div:hover img {
  -webkit-filter: invert(14%) sepia(41%) saturate(4172%) hue-rotate(339deg) brightness(81%) contrast(99%);
          filter: invert(14%) sepia(41%) saturate(4172%) hue-rotate(339deg) brightness(81%) contrast(99%);
}

#icon div:hover span {
  color: #E78A80;
}

#footer {
  background-color: #7D432B;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  vertical-align: middle;
}

#footer img {
  margin: 30px 0;
}

#footer p {
  color: #E78A80;
  font-size: 17px;
}

#menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

#menu a.current {
  background-color: #ff3399;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  color: #fff !important;
}

#menu img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 80px;
}

#menu:hover #menu-box {
  right: 0;
}

#menu:active #menu-box {
  right: 0;
}

#menu #menu-box {
  position: absolute;
  right: -500px;
  top: 0;
  width: 500px;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#menu #menu-box ul {
  list-style: none;
}

#menu #menu-box ul li {
  padding: 30px;
}

#menu #menu-box ul li a {
  color: #333;
  text-decoration: none;
  font-size: 36px;
}

@media screen and (min-width: 769px) {
  nav {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  nav ul {
    display: none;
  }
  #menu {
    display: block;
  }
  #content-1, #content-2, #content-3 {
        grid-template-areas: 'text-area pict';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #content-1 .pict, #content-2 .pict, #content-3 .pict {
    text-align: center;
  }
  #content-1 .text-area, #content-2 .text-area, #content-3 .text-area {
    padding: 150px 0;
  }
  #icon div {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    padding: 50px;
  }
}
/*# sourceMappingURL=style.css.map */